body {
  margin: 0;
  overflow: hidden;
  background: skyblue;
}

#controls {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

#drawCanvas {
  position: absolute;
  top: 60px;
  left: 20px;
  background: white;
  border: 2px solid black;
  z-index: 10;
}

#aquarium {
  display: block;
}
